@import '@sweetalert2/themes/default/default.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
  font-family: "Rubik", sans-serif;
  --primary-color: #105161;
  --secondary-color: #EEBDAE;
  background-color: #F5F5F5;
}
.hobby__page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider{
  display: block;
  width: 80%;
  height: 5px;
  background-color: var(--primary-color);
  margin: 50px auto; 
  position: relative;
}
.divider::before,
.divider::after{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--primary-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  left: -15px;
  top: -5px;
}
.divider::after{
  right: -15px;
  top: -5px;
  left: unset;
}