.addPhone{
    display: flex;
    align-items: center;
    gap: 10px;
}
.addPhone input{
    border: 1px solid var(--primary-color);
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: 24px;
}
.addPhone svg{
    cursor: pointer;
}